body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 2cm;
}

.container {
    display: grid;
    border-bottom: solid;
    border-right: solid;
    height: 12.5cm;
    width: 12.5cm;
}

.buttons {
    display: flex;
    flex-direction: row;
 } 

button {
    margin-top: 1cm;
}

#grey {
    margin-left: 0.5cm;
 }

 #rainbow {
    margin-left: 0.5cm;
 }

 #eraser {
    margin-left: 0.5cm;
 }

 .grid {
    border-style: solid;
    border-bottom-color: transparent; 
    border-right-color: transparent;
}